.products{
  margin: var(--medidas);
  padding: var(--medidas);
}

.title-category{
  margin: var(--medidas);
  padding: var(--medidas);
  padding-top: 20px;
  padding-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
  color: var(--title-color);
  border-bottom: 1px solid #c4c4c4;
}

.box, .card{
  margin: var(--medidas);
  margin-top: 22px;
  background-color: #fff;
  border: .1rem solid #e6e6e6;
  border-radius: var(--radius);
  box-shadow: 0 12px 24px rgba(12, 30, 48, 0.1);
  transition: .4s;
}

.cont{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--medidas);
  padding-right: 20px;
  border-radius: var(--radius);
}

.cont div{
  width: 110px;
}

.cont img{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
}

.container img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: var(--medidas);
  margin-top: 16px;
  padding: var(--medidas);
  border-radius: var(--radius);
}

.text-content{
  width: 176px !important;
}

.wrapper h4,
.wrapper span,
.text-content h4,
.text-content span{
  font-size: 14px;
  font-weight: 500;
  margin: var(--medidas);
  margin-bottom: 8px;
}

.wrapper span,
.text-content span{
  font-size: 17px;
  font-weight: 700;
  color: #585858;
  margin-top: 4px;
  margin-bottom: 12px;
}

.btn-buy{
  width: 90px;
  height: 40px;
  background-color: var(--bg-color-btn);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

@media only screen and (max-width: 321px) {
  .wrapper h4,
  .text-content h4
  {
   font-size: 12px;
  }
  .wrapper span,
  .text-content span{
    font-size: 16px;
  }
  .btn-buy{
    font-size: 14px;
  }
}
