.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login h2{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .5px;
  color: #424242;
}

.btn-login{
  width: clamp(120px,250px,280px);
  height: 40px;
  background-color: #5ea9ff;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}


